@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700;800&display=swap');

@import 'variables';
@import 'mixins';
@import 'base';
@import 'header';
@import 'sections';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray-100;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: $radius-full;

  &:hover {
    background: $primary-dark;
  }
}

::selection {
  background: $primary-color;
  color: $white;
}

::-moz-selection {
  background: $primary-color;
  color: $white;
}
